
body,html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
   background-color: lightyellow;
  }
  .container {
    display: flex;
    flex-direction: column;
    
  }
  .form-container {
    background-color: rgb(195, 229, 240);
    border: 2px;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    height: 50px;
    display: grid;
    grid-template-areas:
      'text text text text'
      'input input input button';
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .add-food-title {
    grid-area: text;
    margin-bottom: 10px;
    
  }
  
  .food-name {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    padding: 10px;
    grid-area: input;
    /*grid-column-end: 3;*/
    margin-right: 5px; 
  }
  
  .food-button{
    background-color: white;
    border: none;
    padding: 9.5px 30px;
    grid-area: button;
  }
  
  .food-button:hover {
    background-color: rgb(251, 224, 214);
    cursor: pointer;
  }

  .food-list {
    display:block;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  rgb(227, 236, 224);
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
  }